@import "tailwindcss";

@theme {
  --color-background: #0f172a;
  --color-primary: #38bdf8;
  --color-secondary: #10b981;
  --color-accent: #38bdf8;
  --color-surface: #1e293b;

  --font-sans: 'Inter', sans-serif;
}

@layer utilities {
  .glass {
    @apply bg-surface/30 backdrop-blur-md border border-white/10 shadow-lg;
  }

  .glass-card {
    @apply bg-surface/40 backdrop-blur-lg border border-white/5 rounded-2xl shadow-xl;
  }
}

body {
  @apply bg-background text-white antialiased font-sans;
}